[user]
	name = Chinmay Chhajed
	email = ; Add email id here!
[diff]
    tool = meld
[difftool]
  prompt = false
[difftool "meld"]
  trustExitCode = true
  cmd = meld "$LOCAL" "$REMOTE"
[merge]
  tool = meld
[mergetool]
  prompt = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[alias]
    l = "!log_in_less() { git log --color=always "$@" | less -R; }; log_in_less"
    lo = "log --oneline"
    d = "!diff_in_less() { git diff --color=always "$@" | less -R; }; diff_in_less"
    s = "status"
    sub = "submodule update --init --recursive --progress"
[credential]
	helper = cache --timeout=99999999999999999
