[user]
    name = Chinmay Chhajed
    email = chinmay.chhajed@espressif.com
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    trustExitCode = true
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool]
    prompt = false
[mergetool "meld"]
    trustExitCode = true
    cmd = open -W -a Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[alias]
; `sa` displays all alias.
    sa="!show_alias() {  git config --get-regexp alias; }; show_alias"
; Check for environment variable `LESS` having option "R". If this is enabled,
; automatically many commands will open in less without bloating terminal.
    l = "!log_in_less() { git log --decorate=full --color=always \"$@\" | less -R; }; log_in_less"
    lo = "log --oneline"
    d = "!diff_in_less() { git diff --color=always \"$@\" | less -R; }; diff_in_less"
    s = "!status_and_show() { if [ $@ ]; then git show $@ --color=always |less -R;else git status;fi; }; status_and_show"
    b = "!blame_in_less() { git blame --color=always \"$@\" | less -R; }; blame_in_less"
    sub = "submodule update --init --recursive --progress"
    pulll = "!pull_with_progress() { git pull --progress \"$@\"; }; pull_with_progress"
    sd= "!sub_diff() { git diff --submodule=diff \"$@\" --color=always |less -R; }; sub_diff"
[credential]
    helper = cache --timeout=99999999999999999
[core]
        ; Don't use `$HOME` here!
    excludesfile = ~/.gitignore
