!! Colorscheme

! special
*.foreground: #93a1a1
*.background: [90]#000000
*.cursorColor: #ff00fF

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
! *.color4: #00DDFF
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

!! URxvt Appearance

! Disable transparent and shading for real transparency and disable for fake.
! URxvt.transparent: true
! URxvt.shading:  15
URxvt.font: xft:Hack:size=10:antialias=true
URxvt.boldFont: xft:Hack:size=10:bold:antialias=true
URxvt.italicFont: xft:Hack:size=10:italic:antialias=true
URxvt.boldItalicfont: xft:Hack:size=10:italic:bold:antialias=true
URxvt.letterSpace: -1
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 5
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 32768
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
! Keep depth 32 for real and 24 for fake transparency.
URxvt.depth: 32
URxvt.iso14755: false

! URxvt.perl-lib: /usr/lib/urxvt/perl/
URxvt.perl-lib: $HOME/.urxvt/ext/

! Turn off cursor while typing.
URxvt*pointerBlank: true

!! Common Keybinds for Navigations
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,resize-font,clear,scroll
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keyboard-select.clipboard: true
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1

! resize-font
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.reset: C-0
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.step: 1

!!! ! tabbed
!!! 
!!! ! Disable the `NEW` button.
!!! URxvt.tabbed.new-button: false
!!! URxvt.tabbed.disable-shift-down: true
!
!! Scroll
URxvt.keysym.M-Page_Up:   perl:scroll:up-halfpage
URxvt.keysym.M-Page_Down: perl:scroll:down-halfpage
URxvt.keysym.Home:        perl:scroll:top
URxvt.keysym.End:         perl:scroll:bottom
